
body {
	font-family: 'Nunito', sans-serif;
	font-size: 16px;
}

/*body {
	font-family: 'Signika', sans-serif;
}*/

/*body {
	font-family: 'Catamaran', sans-serif;
}*/

/*body {
	font-family: 'Vollkorn', serif;
}*/

/*body {
	font-family: 'Signika Negative', sans-serif;
}*/

/*body {
	font-family: 'Gentium Book Basic', serif;
}*/

h1 {
	text-align: center;
	margin-top: 30px;
	font-size: 2.5rem;
	letter-spacing: .15rem;
}

p {
	max-width: 850px;
	width: 90%;
	margin: 30px auto;
	/*line-height: 20px;*/
}

hr {
	width: 50%;
    border: 0;
    height: 1px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
}

img {
	width: 22%;
	float: left;
	margin: 1.5%;
	-webkit-filter: grayscale(100%); /* Ch 23+, Saf 6.0+, BB 10.0+ */
	filter: grayscale(100%); /* FF 35+ */
}

img:hover {
	transition: filter .1s ease-in-out;
	-webkit-filter: grayscale(0%); /* Ch 23+, Saf 6.0+, BB 10.0+ */
	filter: grayscale(0%);
}

 .imageContainer {
 	float: left;
 	text-align: center;
 	font-size: 2rem;
 	padding-top: 30px;
 	color: white;
    background-image: url("/Users/matthewcline/Documents/images_wheresmattat/thailand.jpeg");
    background-size: contain;
    background-repeat: no-repeat;
    width: 22%;
    height: 390px;
    /*height: 50%;*/
    margin: 1.5%;

    color: transparent;
    -webkit-filter: grayscale(100%); /* Ch 23+, Saf 6.0+, BB 10.0+ */
	filter: grayscale(100%); /* FF 35+ */

 }

 .imageContainer:hover {
 	color: white;
	/*transition: filter .1s ease-in-out;*/
	-webkit-filter: grayscale(0%); /* Ch 23+, Saf 6.0+, BB 10.0+ */
	filter: grayscale(0%);
}


