html, body {
	height: 100%;
}

a:hover {
  color: blue;
}

p a {
  color: #003262;
}

a.nav-link {
  font-size: 1.5em;
}

.homePageContactLinkIcon {
  font-size: 2.75rem;
  color: #003262;
}

.homePageContactLinkIcon:hover {
	color: #003262;
}

.homeText {
  margin-top: 18%;
  padding-bottom: 20%;
}

.card-img-overlay {
  color: white;
  font-family: 'Pacifico', cursive;
  text-align: center;
  transition: 0.1s linear;
  opacity: 0;
}

.card-img-overlay:hover {
  opacity: 1;
}

#navbar .nav-link {
  color: white;
}

#navbar .nav-link:hover {
  color: #003262;
}

#selfPortrait {
  margin-top: -70px;
  border-radius: 50%;
  padding: 0px;
}

#homeInfo {
  padding-top: 120px;
}

#homeTopImage {
  background-image: url("/Users/matthewcline/Downloads/2.jpeg");
  background-size: cover;
  height: 100%;
}

#homeName {
  font-weight: 400;
  font-size: 5em;
  color: white;
}

#globe {
  text-align: center;
  font-size: 3.6rem;
  opacity: 0.75;
}

#travelHr {
  width: 75%;
    border: 0;
    height: 1px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
}

 /*Bootstrap experiment*/
header {
  position: relative;
  background-color: black;
  height: 100vh;
  min-height: 25rem;
  width: 100%;
  overflow: hidden;
}

header video {
  position: absolute;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: 0;
  -ms-transform: translateX(-50%) translateY(-50%);
  -moz-transform: translateX(-50%) translateY(-50%);
  -webkit-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
}

header .container {
  position: relative;
  z-index: 2;
}

header .overlay {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: black;
  opacity: 0.2;
  z-index: 1;
}

@media (pointer: coarse) and (hover: none) {
  header {
    background: url('https://source.unsplash.com/XT5OInaElMw/1600x900') black no-repeat center center scroll;
  }
  header video {
    display: none;
  }
}
/*End Bootstrap experiement*/
/*Adapted from: https://startbootstrap.com/snippets/video-header/*/

/*@media (max-width: 400px) {
	One idea is to shrink the font once you reach the small size
}*/
