html, body {
	height: 100%;
}

body {
	font-family: 'Nanum Gothic', sans-serif;

background-color: white;

/*background: #1FA2FF; 
background: -webkit-linear-gradient(to right, #A6FFCB, #12D8FA, #1FA2FF);  
background: linear-gradient(to right, #A6FFCB, #12D8FA, #1FA2FF); */




}


/*#mainNavbar .navbar-brand {
	color: ;
}*/


#mainNavbar .nav-link {
  color: white;
}

#mainNavbar .nav-link:hover {
	color: #003262;
}

#introContainer {
  border-radius: 25px;
}

#selfPortrait {
  margin-top: -70px;
  border-radius: 50%;
  border: 2px solid white;
  padding: 0px;
/*  width: 200px;
  height: 200px;
  position: relative;
  overflow: hidden;*/
}

a:hover {
  color: #003262;
}

p a {
  color: #003262;
}

#mainNavbar .active-link {
	color: #003262;
}

p {
	font-family: 'Roboto', sans-serif;
}

#globe {
	text-align: center;
	font-size: 3.6rem;
	opacity: 0.75;
}

#intro-paragraph {
	text-align: center;
	margin: 30px auto;
}

.homePageContactLink {
	font-size: 2.25rem;
}

.homePageContactLinkIcon {
  font-size: 2.75rem;
  color: white;
}

.homePageContactLinkIcon:hover {
	color: #003262;
}

.homeText {
  margin-top: 20%;
  padding-bottom: 20%;
}

#homeInfo {
  padding-top: 140px;
  background: #f12711;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #f5af19, #f12711);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #f5af19, #f12711); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}


#travelHr {
	width: 75%;
    border: 0;
    height: 1px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
}

#homeName {
/*  font-family: 'Roboto', sans-serif;
  font-weight: 500;*/
  font-family: 'Nunito', sans-serif;
  font-weight: 600;
  letter-spacing: 1.5px;
  color: white;
  text-shadow: 0px 1px 3px rgba(0,50,98,0.4),
             0px 1px 3px rgba(0,50,98,0.1),
             0px 1px 3px rgba(0,50,98,0.1);
}

#homeTopImage {
  background-image: url("/Users/matthewcline/Downloads/2.jpeg");
  background-size: cover;
  height: 100%;
}

/*.jumbotron-shadow {
  text-shadow: 0px 4px 3px rgba(0,0,0,0.1),
               0px 3px 3px rgba(0,0,0,0.1),
               0px 3px 3px rgba(0,0,0,0.1)
}*/

.card-img-grayscale {

  /*Grayscale turned on: */
/*  -webkit-filter: grayscale(100%);
	filter: grayscale(100%); 
	color: transparent;*/

  /*Grayscale turned off: */
  -webkit-filter: grayscale(0%);
  filter: grayscale(0%); 
  color: white;
  font-family: 'Pacifico', cursive;
  text-align: center;
 }

.card-img-grayscale:hover {
	/*transition: filter .1s ease-in-out;*/
	-webkit-filter: grayscale(0%); /* Ch 23+, Saf 6.0+, BB 10.0+ */
	filter: grayscale(0%);
	color: white;
	font-family: 'Pacifico', cursive;
 	text-align: center;
}

.jumbotron-home {
  background-image: url("/Users/matthewcline/Downloads/2.jpeg");
  background-size: cover;
  height: 720px;
}

 /*Bootstrap experiment*/
header {
  position: relative;
  background-color: black;
  height: 85vh;
  min-height: 25rem;
  width: 100%;
  overflow: hidden;
}

header video {
  position: absolute;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: 0;
  -ms-transform: translateX(-50%) translateY(-50%);
  -moz-transform: translateX(-50%) translateY(-50%);
  -webkit-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
}

header .container {
  position: relative;
  z-index: 2;
}

header .overlay {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: black;
  opacity: 0.2;
  z-index: 1;
}

/*#heading {
  background-image: url("/Users/matthewcline/Downloads/2.jpeg");
  background-size: cover;
  height: 790px;
}*/

@media (pointer: coarse) and (hover: none) {
  header {
    background: url('https://source.unsplash.com/XT5OInaElMw/1600x900') black no-repeat center center scroll;
  }
  header video {
    display: none;
  }
}
/*End Bootstrap experiement*/
/*Adapted from: https://startbootstrap.com/snippets/video-header/*/

/*@media (max-width: 400px) {
	One idea is to shrink the font once you reach the small size
}*/
